<h1>Log In Today!</h1>

<%= form_for :user do |f| %>
    <label><b>Username</b></label>
    <%= f.text_field :username%><br><br>
    <label><b>Password</b></label>
    <%= f.password_field :password%><br><br>
    <button type="submit" class="signupbtn">Log In</button><br>
  <% end %>

  <br><br><h2><%= link_to "Log In With Github", '/auth/github' %></h2>