<h1>List of Everyone's Reviews</h1>

<% @reviews.each do |f|%>
<ul>
  <h3> * <%= f.title %> </th> </h3> - Posted by <%= f.user.username.capitalize %> -
  <%= link_to "Display Reviews", user_review_path(f.user.id, f.id) %>
</ul>
<%end%>

<button class="button button2"><h2><%= link_to "What're the highest rated reviews? Click here!", five_star_path%></h2></button>



