<div class="text2"> Five Star Reviews</div>
    <% @review.five_star.each do |r| %>
<ul><h4>
  <h2>☆ <%= r.title %></h2>  Post by <%= r.user.username.capitalize %> -
  <%= link_to "Display Review", user_review_path(r.user_id, r.id) %></h4>
</ul>
    <% end %>
    
