
<h1>List of <%= @user.username.capitalize %>'s Posted Reviews </h1>

<% @reviews.each do |f|%>
<ul>
  <h3> * <%= f.title %> </h3> - Posted by <%= f.user.username.capitalize %> -
  <%= link_to "Display Reviews", user_review_path(f.user.id, f.id) %>
</ul>
<%end%>

