<h1>List of All Reviewed Restaurants</h1>

<% @restaurants.each do |f|%>
<ul>
  <h3> * <%= f.name %> </h3> - Posted by <%= f.user.username.capitalize %> -
  <%= link_to "Display Reviews", restaurant_review_path(@restaurants, f.id) %>
</ul>
<%end%>
